@charset "UTF-8";

body {
    background-color: #F9FAFB;
    color: #1F2937;
}
h1 {
    font-size: 60px;
    height: 100%;
    height: auto;
}
h2 {
    font-size: 45px;
}
img {
    width: 25px;
    background-color: white;
    border-radius: 50%;
}
a {
    font-size: 20px;
    text-decoration: none;
    color: #09419B;
}
strong {
    color :#1F2937;
    text-decoration-line: underline;  
}
hr {
    border: 2px solid #E5E7EB;
}
#ola {
    font-size: 25px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 20px;
    margin-bottom: 20px;
}
p {
font-size: 20px;
margin-top: 20px;
margin-bottom: 20px;
color: #1F2937;
}
.container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container img {
    width: 80px;
    height: absolute;
    margin-right: 10px;
}
.container h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}